.login_form {
  max-width: 300px;
}
.login_form_forgot {
  float: right;
}
.login_form_forgot {
  float: left;
}
.login_form_button {
  width: 100%;
}

.logo {
  position: absolute;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  width: 100%;
  left: 0;
  top: calc(292px - 50px - 42px);
}

.title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 30px;
}

.links {
  margin-top: 40px; //   align-items: stretch;
  display: flex;
  justify-content: space-evenly;
  padding: 0px;

  .link {
    font-size: 16px;
    text-align: center;
  }

  .divider {
    color: #f0f0f0;
    padding: 0 16px;
  }
}
