.form_root {
  .form_item {
    margin-bottom: 16px;

    & + & {
      margin: 16px 0 0 0;
    }
    & + .form_item_submit {
      margin-top: 40px;
    }
    button {
      width: 100%;
    }
  }

  .form_field {
    &.form_field_large {
      height: 48px;
    }
  }
}
