@import '../sass/color.variables.scss';

.root {
  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $background-bgcolor;
    .container {
      width: 520px;
      padding: 48px 70px;
      margin: auto;
      background-color: $container-bgcolor;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &.basic {
    display: flex;
    min-height: 100vh;
    .logo {
      height: 32px;
      margin: 16px;
      font-weight: bold;
      text-align: center;
      line-height: 32px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
    }

    .header {
      display: flex;
      background-color: white;
      border-bottom: 1px solid #f0f0f0;
      padding: 0;
      border-bottom: 1px solid #f0f0f0;
      padding: 0 24px;

      .middle {
        flex: auto;
      }
      .profile {
        .userName {
          margin-right: 1em;
        }
        .userImage {
          // padding: 16px;
        }
      }
    }
  }
}

.page_header {
  background-color: #ffffff;
}
